<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : CrossWalk 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140216

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
{% load staticfiles %}
<link href="{% static 'css/default.css' %}" rel="stylesheet">
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
            <h1><a href="#"> <font size="6" face="Times New Roman" style="background: royalblue" >CATERING</font></a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="//" accesskey="1" title="">Homepage</a></li>
				<li class="current_page_item"><a href="/adminlogin/" accesskey="1" title="">Admin</a></li>
				<li class="current_page_item"><a href="/user/" accesskey="2" title="">UserRegistration</a></li>
				<li class="current_page_item"><a href="/userlogin/" accesskey="2" title="">UserLogin</a></li>
				<li class="current_page_item"><a href="//" accesskey="3" title="">About Us</a></li>
				<li class="current_page_item"><a href="/contact/" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>


	</div>                                  
            			<div class="boxA"><img src="{% static 'images/Catering3.jpg' %}" width="1400" height="300" alt="" /></div>
            			<!div class="boxA"><!img src="{% static 'images/banner.jpg' %}" alt="" /></div>

	<div id="banner">&nbsp;</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Catering Services</h2>
				<span class="byline">
                    QuikrEasy connect you to a network of qualified
                    and trained Catering Services (Tiffin & Catering Services) providers
                    in Hyderabad. Get your life back on track in no time so you can continue
                    focus on the important things. Here are a few reasons to use QuikrEasy to
                    connect with Catering Services (Tiffin & Catering Services) providers: - A
                    huge selection of top Catering Services (Tiffin & Catering Services) service
                    providers in Hyderabad - Connect instantly with Catering Services
                    (Tiffin & Catering Services) service providers - Service quotes
                    from various Catering Services (Tiffin & Catering Services) providers
                    before choosing one that suits your requirements the best - Avail the best
                    deals within your budget with minimal effort How can QuikrEasy help? QuikrEasy
                    helps you by doing away with the need to locating the right technician to address
                    your problem. </span> </div>
		</div>

	</div>

	<div id="page" class="container">
		<div class="title">
			<h2>About Catering Services</h2>
		<div class="gallery">
			<div class="boxA"><img src="{% static 'images/11.jpg' %}" width="300" height="200" alt="" /></div>
			<div class="boxB"><img src="{% static 'images/12.jpg' %}" width="300" height="220" alt="" /></div>
			<div class="boxC"><img src="{% static 'images/13.jpg' %}" width="300" height="220" alt="" /></div>
			<div class="boxC"><img src="{% static 'images/14.jpg' %}" width="300" height="220" alt="" /></div>
			<div class="boxC"><img src="{% static 'images/15.jpg' %}" width="300" height="220" alt="" /></div>
			<div class="boxC"><img src="{% static 'images/16.jpg' %}" width="300" height="220" alt="" /></div>
		</div>

	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
